
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */